@import '../node_modules/normalize-scss/sass/normalize';



.bouton a {
display:block;
width:150px;
line-height:50px;
text-align:center;
vertical-align:middle;
background:url(../images/boutonnoir.png) no-repeat;
color:white;

text-decoration:none;
float:left;
margin:2px;

}
.bouton a:hover {
background:url(../images/boutonnoir2.png) no-repeat;
}
